<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253603417363-qg26jfofrfpec42nla4bbgt8go32glot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253603417363-qg26jfofrfpec42nla4bbgt8go32glot</string>
	<key>API_KEY</key>
	<string>AIzaSyA3hkEe7cMwH7OXGHlK1JRIwLEz8bV8jCc</string>
	<key>GCM_SENDER_ID</key>
	<string>253603417363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notimovil.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>notification-test171810109</string>
	<key>STORAGE_BUCKET</key>
	<string>notification-test171810109.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253603417363:ios:dc23101c10363193eb1ee6</string>
</dict>
</plist>